@import url(https://fonts.googleapis.com/css?family=Mynerve);

.matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
  }
  
  .TaskList {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .TaskList h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .Task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-family: "Mynerve", sans-serif;
    
  }
  
  .TaskInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .TaskInput form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  
  .TaskInput input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  /* .TaskInput label {
    margin-right: 0.5rem;
  }
  
  .TaskInput button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } */
  
  .TaskInput button:hover {
    background-color: #0056b3;
  }
  
  /* .Task button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  } */
  
  .Task button:hover {
    background-color: #c82333;
  }
  .Task.done {
    text-decoration: line-through;
    color: #999;
  }  
  .Task button-container {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Adjust the gap between buttons if needed */
  }
  

